---
import MainLayout from "@/layouts/MainLayout.astro";
import AppHeader from "@/components/AppHeader.astro";
import AppFAQList from "@/components/AppFAQList.astro";
---

<MainLayout
  title="devChallenges | Simple FAQ"
  description="A simple FAQ challenge from devChallenges."
>
  <div class="flex min-h-screen flex-col">
    <AppHeader />
    <AppFAQList />
  </div>
</MainLayout>
