---
import AppFAQItem from "@/components/AppFAQItem.astro";
import faqData from "@/data/faq.json";
---

<div class="bg-theme-light-gray flex-1">
  {faqData.map((faq) => <AppFAQItem faq={faq} />)}
</div>
