---
interface Props {
  question?: string;
  answer?: string;
}

const { question, answer } = Astro.props;
---

<article>
  <h2 class="mb-2 text-2xl font-semibold">{question}</h2>
  <p class="mb-4">{answer}</p>
  <slot />
</article>
