---
import AppFAQItem from "@/components/AppFAQItem.astro";
---

<div class="bg-theme-light-gray flex-1">
  <section class="mx-auto flex max-w-[640px] flex-col gap-7 pt-20 pl-5">
    <AppFAQItem
      question="How can I track my order?"
      answer="You can track your order using the following steps:"
    >
      <ol class="mb-2 flex list-decimal flex-col gap-2 px-6">
        <li>Go to the Order <a href="/" class="text-theme-blue">Tracking page</a>.</li>
        <li>Enter your order number and email address.</li>
        <li>Click on the Track Order button to view the current status of your shipment.</li>
      </ol>
      <p>
        If you encounter any issues, please visit our <a href="/" class="text-theme-blue"
          >Help Center</a
        >.
      </p>
    </AppFAQItem>
    <hr class="text-theme-gray" />
    <AppFAQItem
      question="What is your return policy?"
      answer="We offer a 30-day return policy on most items. Here are some key points:"
    >
      <ul class="mb-2 flex list-disc flex-col gap-2 px-6">
        <li>
          <span class="font-semibold">Items must be in original condition</span>: Unworn, unused,
          and unwashed.
        </li>
        <li>
          <span class="font-semibold">Include original packaging and tags</span>: All items should
          be returned with their original packaging and tags.
        </li>
        <li>
          <span class="font-semibold">Proof of purchase</span>: A receipt or proof of purchase is
          required.
        </li>
      </ul>
      <p>
        For more detailed information, read our full <a href="/" class="text-theme-blue"
          >Return Policy</a
        >.
      </p>
    </AppFAQItem>
  </section>
</div>
