---
interface Props {
  faq: {
    question: string;
    answer: string;
    steps: string[];
    additionalInfo: string;
  };
}

const { faq } = Astro.props;
---

<div class="container mx-auto">
  <h2>{faq.question}</h2>
  <p>{faq.answer}</p>
  <ul>
    {faq.steps.map((step) => <li>{step}</li>)}
  </ul>
  <p>{faq.additionalInfo}</p>
</div>
