<header class="bg-theme-white px-8 py-18 text-center">
  <h1 class="mb-4 text-4xl leading-11 font-semibold">Frequently Asked Questions</h1>
  <p class="leading-5">Browse through the most frequently asked questions</p>
</header>
